*{
    padding: 0;
    margin: 0;
  
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat';
    
  }
  .sidebar{
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #008ea1;
    z-index: 100;
    transition: width 300ms;
  }
  .sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
  }
  .sidebar-brand span{
    display: inline-block;
    margin-right: 1rem;
  }
  .sidebar-menu li{
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 10%;
  }
  .sidebar-menu{
    margin-top: 1rem;
  }
  .sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
  }
  .sidebar-menu a span:first-child{
    padding-right: 1rem;
    font-size: 1.5rem;
  }
  .sidebar-menu a.active{
   
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ffffff;
    border-radius: 30px 0px 0px 0px;
    padding-right: 1em;
  }
  
  .ccanvas {
        color: #008ea1;
        width: 65%;
        height: auto;
        background-color: #e8ebf0;
        border-radius: 5px 5px 5px 5px;
        margin: 5% 28%;
        align-items: center;
        
      }
  .legende{
      display: flex;
      justify-content: center;
      align-items: center;
    background-color: #dfdfdf;
      width: 100%;
      border-radius: 5px 5px 0px 0px;
      padding: 2%;
      

  }
  a:hover {
    background-color: #333;
  }
  
  .bodyyy{
    background-color: #e8ebf0;
    display: flex;
    flex-wrap: wrap;
    
    
  }
  .img1{
    padding: 10% 20%;
  }
  .img2{
    margin-top: 135px;
    margin-left: -297px;
  }
  .img3{
    margin-left: 73%;
    margin-top: -460px;
  }
  .img4{
    margin-left: 35%;
    margin-top: -100px;
  }
  .img5{
    margin-left: 62%;
    margin-top: -280px;
  }
  .graph1f{
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
  }
  .graph1f .fadedbox {
    background-color: #d6d4d4;
    
    position: absolute;
    top: 0;
    left: -10px;
    color: rgb(0, 0, 0);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 450px;
    height: 100px;
    padding: 130px 20px;
  }
  .graph1f:hover .fadedbox {
    opacity: 0.4;
  }
  .graph1f .txt {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
  }
  .graph1f .title {
    font-size: 20px;
    text-transform:uppercase;
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  .graph1f:hover .title,
  .graph1f:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  .graph1f img
  {
  border-radius: 25px 25px;
  justify-content: center;
  }
  .graph2f{
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
  }
  .graph2f .fadedbox {
    background-color: #d6d4d4;
    
    position: absolute;
    top: 0;
    left: -10px;
    color: rgb(0, 0, 0);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 450px;
    height: 290px;
    padding: 130px 20px;
  }
  .graph2f:hover .fadedbox {
    opacity: 0.4;
  }
  .graph2f .txt {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
  }
  .graph2f .title {
    font-size: 20px;
    text-transform:uppercase;
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  .graph2f:hover .title,
  .graph2f:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  .graph2f img
  {
  border-radius: 25px 25px;
  justify-content: center;
  }
  .graph{
width: 50%;
margin-left: 25%;
  }
  .a, h2{
    color: white;
  }

